doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="icon", sizes="16x16 32x32", href="../favicon.ico?v=2")
    title JSDC 2015
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css")
    //- MailChimp sign up form style
    link(href="//cdn-images.mailchimp.com/embedcode/classic-081711.css", rel="stylesheet", type="text/css")
    //- Font Awesome
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../stylesheets/style.css")

    // Open Graph data
    meta(property="og:title", content="JSDC 2015")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://2015.jsdc.tw")
    meta(property="og:image", content="http://2015.jsdc.tw/images/og.png")
    meta(property="og:description", content="This year, JSDC is breaking the barriers by integrating the technical power from independent developers, enterprises, framewords, architectures, and practices.")
    meta(property="og:site_name", content="JSDC 2015")

  body
    #main
      header
        ul.languages
          li
            a(href="/zh_tw") 中文
      section.landing.cd-intro
        .nav-btn
          button(type="button")
            span.icon-line
            span.icon-line
            span.icon-line
        .video
          video#bg-video(autoplay="", muted="", loop="")
            source(type="video/mp4", src="../video/background.mp4")
        //- iframe.video(width="100%", src="https://www.youtube.com/embed/fFvj1NELjOQ?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=fFvj1NELjOQ", frameborder="0", allowfullscreen="")
        .background-container
          .logo
            img(src="../images/logo.png", alt="JSDC")
          span.coming Coming soon at Oct 3 and Oct 4
          span HSS Bldg. of Academia Sinica
          h1.tagline.cd-headline.letters.type
            span Build 
            span.cd-words-wrapper.waiting
              b.is-visible Anything
              b Website
              b Webapp
              b Mobile App
              b Arduino
              b Raspberry Pi
              b Robot
            span  with JavaScript
          .activity
            a.reserve(href="http://jsdc-tw.kktix.cc/events/jsdc2015", target="kktix")
              | Reserve Now
          //- .arrow.bounce
          svg#svg(x="0px", y="0px", viewBox="0 0 62 74", style="enable-background:new 0 0 58.2 72;", xml:space="preserve")
            style(type="text/css").
              .st0{fill:none;stroke:#ffffff;stroke-miterlimit:10;}
            polyline#first-arrow.st0(points="60.2,2 31.1,31.1 2,2 ")
            polyline#second-arrow.st0(points="60.2,22.4 31.1,51.5 2,22.4 ")
            polyline#third-arrow.st0(points="60.2,42.9 31.1,72 2,42.9 ")
        //- Navigation bar on landing page
        nav#nav-main
          .block.grey
          .block.red
            ul
              li
                a.nav-news News
          .block.green
            ul
              //- li
                a.nav-schedule Schedule
              li
                a.nav-location Location
          .block.blue
            ul
              li
                a.nav-speakers Speakers
              //- li
                a.nav-sponsors Sponsors
              li
                a.nav-staff Staff
      section.news
        .title
          h1 News
        .container
          .news-slick
            a.post(href="http://blog.jsdc.tw/2015/06/25/nuclide-release/", target="_blank")
              h2.title Facebook 釋出基於 Atom 的 IDE - nuclide
              span.author By 周裕波 at 25 Jun 2015
              p.description
                | 我知道 nuclide 是從一個 FB 的朋友哪裡知道的，當時我問他：你們在內部使用什麼編輯器開發React，
                | 他當時回答我的編輯器中其中一個是nuclide。
            a.post(href="http://blog.jsdc.tw/2015/06/20/f2e-framework-compare/", target="_blank")
              h2.title 淺談前端框架未來， Angular, React, 還是其他呢？
              span.author By Andrew Chen at 20 Jun 2015
              p.description
                | 前端入坑深似海，一入宅門出不來。這肯定是許多前端工程師可以體認到的共同感觸，
                | 前端真可以說是一個坑，維繫大家能夠持續學習的動機，除了熱情，應該就還是熱情吧。
            a.post(href="http://blog.jsdc.tw/2015/06/10/review-devil-day/", target="_blank")
              h2.title 小小感想 JS Devil Day 回顧
              span.author By Andrew Chen at 10 Jun 2015
              p.description
                | JS Devil Day 是本次 JSDC 2015 所舉辦第一場對外 Meetup，也是首次透過北中南三方連線方式進行，
                | 本次以參與者角色，記錄此次活動。 
            a.post(href="http://blog.jsdc.tw/2015/04/01/jsdc2015-start/", target="_blank")
              h2.title JS Devil Day
              span.author By JSDC team at 26 May 2015
              p.description 
                | 2014 年最火紅的前端框架可以說是 Angular ，我想這個是大家都無庸置疑的，但是它的學習曲線實在是 … 
                | 直到現在還是不太好學。 默默的繼續回去使用 backbon & jQuery 這樣簡簡單單的純樸。
            a.post(href="http://blog.jsdc.tw/2015/04/01/jsdc2015-start/")
              h2.title JSDC 2015, now starting.
              span.author By JSDC team at 01 Apr 2015
              p.description
                | 熱愛 JavaScript 與 JSDC 研討會的朋友們大家好。我是 Simon，小弟是今年 JSDC 2015 的總召。
                | 不知道什麼時候，JSDC 這個活動已經悄悄地世代轉移了，在此對於所有 JSDC 前輩們的付出先深深一
                | 鞠躬表示感謝...
      section.intro
        .container-box
          h1.title
            | What's JSDC
          .divider
          p.info
            | This year, JSDC is breaking the barriers by integrating the technical power from 
            | independent developers, enterprises, framewords, architectures, and practices. 
            | We aim to make the knowledge globally interchangeable, while makeing all attendees 
            | reimagine JavaScript within and beyond the dogma. Our new thinking will be a catalyst 
            | for further improvement of the architectures, fortification of the teams, and optimization 
            | of the development process.
          .activity
            a.typeform-share.link.speaker(href="https://jsdc2015.typeform.com/to/JIc9v2", data-mode="1", target="_blank")
              | Be a speaker
            a.typeform-share.link.sponsor(href="https://jsdc2015.typeform.com/to/dgmSSy", data-mode="1", target="_blank")
              | Be a sponsor
            a.typeform-share.link.contact(href="https://jsdc2015.typeform.com/to/Z3xnIk", data-mode="1", target="_blank")
              | Contact us
          .share-buttons
            .fb-share-button(data-href="http://2015.jsdc.tw/en/", data-layout="button_count")
      section.speakers
        .title
          h1 The Speakers
        .container-fluid
          - var speakers = [{ name: 'Josh Koo', img: 'https://avatars3.githubusercontent.com/u/314997?v=3&s=460', github: 'https://github.com/zz85', web: 'http://www.joshuakoo.com/', project: 'Three.js', projectWeb: 'http://threejs.org/', projectGithub: 'https://github.com/mrdoob/three.js/' }, { name: 'Matthew James Davis', img: 'https://avatars3.githubusercontent.com/u/3845823?v=3&s=460', github: 'https://github.com/davismj', web: 'http://www.mapdotnet.com/', project: 'Aurelia', projectWeb: 'http://aurelia.io/', projectGithub: 'https://github.com/aurelia/framework' }, { name: 'Jonathan Ong', img: 'https://avatars1.githubusercontent.com/u/643505?v=3&s=460', github: 'https://github.com/jonathanong', web: '', project: 'co', projectWeb: '', projectGithub: 'https://github.com/tj/co' }, { name: 'Hedger Wang', img: 'https://avatars0.githubusercontent.com/u/1504439?v=3&s=460', github: 'https://github.com/hedgerwang', web: '', project: 'React-Native', projectWeb: 'http://facebook.github.io/react-native/', projectGithub: 'https://github.com/facebook/react-native' }]
          each speaker in speakers
            .speaker
              .avatar
                img(src=speaker.img.length ? speaker.img : '/images/no-avatar.jpg', alt=speaker.name)
              .introduction
                h4.name= speaker.name
                span.project
                  a(href=speaker.projectGithub, target="_blank")= speaker.project
                  |  contributor
                .links
                  if speaker.web.length
                    a.web.link-item(href=speaker.web, target="_blank")
                      i.fa.fa-link.fa-3x
                  if speaker.projectGithub
                    a.github.link-item(href=speaker.github, target="_blank")
                      i.fa.fa-github.fa-3x
      section.staff
        .title
          h1 Staff
        .container-fluid
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p320x320/10805728_1038360966190069_6017786568153332670_n.jpg?oh=6ece0a1e53469e1849a45d4b7a2c4d49&oe=55E17211&__gda__=1440226429_b2580f21de4114c17cc94fa53a2ba90b")
            .introduction
              h4 Simon Sun
              span Convener
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c0.154.320.320/p320x320/1606948_10152725119659838_336180642126829356_n.jpg?oh=c748177b90805bfbc8370fb5a8b60e25&oe=55C0D480&__gda__=1441127382_08224b6646a29d9aac0c26642a49a452")
            .introduction
              h4 Caesar Chi
              span Consultant
          //- .person
            .avatar
              img(src="../images/no-avatar.jpg")
            .introduction
              h4 Name
              span Agenda
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p320x320/10390549_10152150665438807_6440648580150120268_n.jpg?oh=eeb785750459bd099646b6eb34102137&oe=55D493F6&__gda__=1440344718_1fbf09e7696d9b629ff2510fb5fb038b")
            .introduction
              h4 Chung Heng Chang
              span Record
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p320x320/10413434_877763895576407_9099161578711107770_n.jpg?oh=fb2844ea40c95db3fd6e76da3ea372c9&oe=55E35212&__gda__=1440642681_728b78c2703339b1c689c3b60c866a7d")
            .introduction
              h4 Webber
              span Service
          //- .person
            .avatar
              img(src="../images/no-avatar.jpg")
            .introduction
              h4 Name
              span Network
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p320x320/10929190_10200245821105569_1100529549169868284_n.jpg?oh=875d062709a967da29009da4f22f8a0b&oe=55D96538&__gda__=1440717993_e36c118013c71403e5eb2123152cfb12")
            .introduction
              h4 Jr Hau Ju
              span Finance
          //- .person
            .avatar
              img(src="../images/no-avatar.jpg")
            .introduction
              h4 Name
              span Ticketing
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p320x320/11045288_10205848918198409_273215707740263130_n.jpg?oh=d8e74bffa04b7891764a83f53ef646c2&oe=55CB0D62&__gda__=1439222542_0cbcd57ab9239c0a17c094bb0fcaf16f")
            .introduction
              h4 Chan-Cheng George Shih
              span PR
          .person
            .avatar
              img(src="../images/chiahao.jpg")
            .introduction
              h4 Chiahao Lin
              span Web developer
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p320x320/10427692_1003691802980508_8693581886834456698_n.jpg?oh=451610613176b086a9f2b0c88d23970c&oe=565C6789&__gda__=1444688031_ea3d8958c322e5d1ed88c184c17d4ef9")
            .introduction
              h4 Terry Sun
              span Designer
          //- .person
            .avatar
              img(src="../images/no-avatar.jpg")
            .introduction
              h4 Name
              span Marketing
      section.location
        .title
          h1 Location
        .content
          p.address HSS Bldg. of Academia Sinica - 128, Sec. 2, Academia Rd., Nangang Dist., Taipei City 115, Taiwan
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7775685346055!2d121.61311881639412!3d25.04162156122398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab4501e8c151%3A0x2f2b63fe4251d55c!2sAcademia+Sinica!5e0!3m2!1sen!2stw!4v1432454564591", width="100%" height="300", frameborder="0", style="border:0;")
      footer
        .container
          // Begin MailChimp Signup Form
          #mc_embed_signup
            form#mc-embedded-subscribe-form.validate(action="//github.us8.list-manage.com/subscribe/post?u=e158304d0affdf640565a3e33&amp;id=914d8a037f", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate="")
              #mc_embed_signup_scroll
                h2 Sign up to our newsletter
                .mc-field-group
                  //- label(for="mce-EMAIL") Email Address
                  input#mce-EMAIL.email.required(type="email", value="", name="EMAIL", placeholder="Email Address")
                  input#mc-embedded-subscribe.button(type="submit", value="Subscribe", name="subscribe")
                #mce-responses.clear
                  #mce-error-response.response(style="display:none")
                  #mce-success-response.response(style="display:none")
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style="position: absolute; left: -5000px;")
                  input(type="text", name="b_e158304d0affdf640565a3e33_914d8a037f", tabindex="-1", value="")
                //- .clear
          // End mc_embed_signup
          button#elevator-btn(type="button") 
            span.glyphicon.glyphicon-eject
            | Back To Top
          p
            | ©2015 
            a(href="http://jsdc.tw") JSDC.tw

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js")
    script(src="/scripts/elevator.min.js")
    script(src="../scripts/index.js")
    script.
      var qs, js, q, s, d = document,
        gi = d.getElementById,
        ce = d.createElement,
        gt = d.getElementsByTagName,
        id = 'typef_orm',
        b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
      if (!gi.call(d, id)) {
        js = ce.call(d, 'script');
        js.id = id;
        js.src = b + 'share.js';
        q = gt.call(d, 'script')[0];
        q.parentNode.insertBefore(js, q)
      }
      id = id + '_';
      if (!gi.call(d, id)) {
        qs = ce.call(d, 'link');
        qs.rel = 'stylesheet';
        qs.id = id;
        qs.href = b + 'share-button.css';
        s = gt.call(d, 'head')[0];
        s.appendChild(qs, s)
      }
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=715893795173476";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-19752144-3', 'auto');
      ga('send', 'pageview', {
        page: '/en',
        title: 'JSDC 2015 | English'
      });